@import "../assets/styles/mixins";

.favorites {
  padding: 45px 60px;

  @include mobile-max {
    padding: 20px;
  }

  .favorites-title {
    margin-bottom: 40px;
  }

  .skeleton-cards-list {
    @include skeleton-cards-list;
  }
}
