@import "../assets/styles/mixins";

.home {
  padding: 45px 60px;

  @include mobile-max {
    padding: 20px;
  }

  .title-and-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include mobile-max {
      gap: 20px;
      flex-direction: column;
    }
  }

  .controls {
    display: flex;
    gap: 20px;
    align-items: center;

    @include mobile-max {
      gap: 10px;
      flex-direction: column;
      width: 100%;

      .search,
      .sort {
        min-width: 100%;
      }
    }
  }

  .skeleton-cards-list {
    @include skeleton-cards-list;
  }
}
