@import "../assets/styles/mixins";

.card-skeleton {
  padding: 30px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;

  .skeleton {
    @include skeleton;
  }

  .img {
    width: 100%;
    height: 112px;
    margin-bottom: 14px;
  }

  .name {
    width: 100%;
    height: 16px;
    margin-bottom: 4px;
  }

  .price-and-cart-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }

  .price-wrapper {
    width: 50%;
    height: 34px;
  }

  .cart-btn {
    width: 32px;
    height: 32px;
  }
}
