@import "../assets/styles/mixins";

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  place-content: center;

  @include tablet-max {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile-max {
    grid-template-columns: 1fr;
  }
}
