.card {
  padding: 30px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
  }

  .card-inner-wrapper {
    position: relative;
    display: grid;
    gap: 14px;
    height: 100%;
  }

  .favorite-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .img {
    width: 100%;
    object-fit: contain;
  }

  .price-wrapper {
    display: grid;
    gap: 2px;
    margin-top: auto;
  }

  .price-title {
    color: var(--secondary-text-color);
    font-weight: var(--font-weight-medium);
    font-size: 12px;
    text-transform: uppercase;
  }

  .price {
    font-weight: var(--font-weight-bold);
  }

  .price-and-cart-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cart-btn {
    width: 32px;
    height: 32px;
  }
}
