.cart-card {
  display: grid;
  grid-template-columns: 70px auto 32px;
  gap: 16px;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--primary-border-color);
  border-radius: 20px;

  .image {
    object-fit: contain;
  }

  .info-wrapper {
    display: grid;
    gap: 8px;
  }

  .price {
    font-weight: var(--font-weight-bold);
  }
}
