.cart-summary {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: grid;
  gap: 20px;
  padding: 30px;
  border-top: 1px solid #eee;
  background-color: var(--primary-bg-color);

  .info-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px dashed #dfdfdf;
  }

  .info-title,
  .info-value {
    margin-bottom: -1px;
    background-color: var(--primary-bg-color);
  }

  .info-value {
    font-weight: var(--font-weight-bold);
  }
}
