.cart-empty {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100%;
  padding: 30px;
  text-align: center;

  .img {
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    font-size: 22px;
  }

  .subtitle {
    margin-bottom: 40px;
    color: var(--secondary-text-color);
    font-size: 16px;
  }
}
