.drawer {
  .overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.5;
  }

  .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .title {
    font-size: 24px;
  }

  .drawer-content {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 110;
    overflow: scroll;
    width: 100%;
    max-width: 385px;
    padding: 30px;
    background-color: var(--primary-bg-color);
    transition: right 0.3s ease-in-out;
  }


  &.opened {
    .drawer-content {
      right: 0;
    }
  }
}
