@import "../assets/styles/mixins";

.header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  border-bottom: 1px solid #EAEAEA;

  @include mobile-max {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
}
