.sort-select {
  position: relative;
  min-width: 200px;

  .selected {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid var(--controls-border-color);
    border-radius: 18px;
    cursor: pointer;

    &.opened {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    overflow: hidden;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--controls-border-color);
    border-top: 0;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;

    & > button {
      width: 100%;
      padding: 5px 15px;
      text-align: left;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
