@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: Inter, Helvetica, sans-serif;
  letter-spacing: 0.04em;
}

body {
  margin: 0 auto;
  padding: 24px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #E7F6FF;

  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}

#root {
  width: 100%;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}
