@mixin container {
  max-width: 1128px;
  margin: 0 auto;
}

@mixin desktop-sm-max {
  @media screen and (max-width: 1024px) {
    @content
  }
}

@mixin tablet-max {
  @media screen and (max-width: 900px) {
    @content
  }
}

@mixin mobile-max {
  @media screen and (max-width: 600px) {
    @content
  }
}

@mixin skeleton() {
  background:
    #ededed linear-gradient(
      100deg,
      rgb(255 255 255 / 0%) 40%,
      rgb(255 255 255 / 50%) 50%,
      rgb(255 255 255 / 0%) 60%
    );
  background-position-x: 180%;
  background-size: 200% 100%;
  border-radius: 8px;
  animation: 1s loading ease-in-out infinite;
  animation-delay: 0.06s;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
