:root {
  --primary-text-color: #333;
  --secondary-text-color: #BDBDBD;

  --primary-bg-color: #fff;

  --default-border-radius: 20px;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
