:root {
  --primary-text-color: #333;
  --secondary-text-color: #737373;

  --primary-btn-color: #9DD458;

  --primary-bg-color: #fff;

  --primary-border-color: #EAEAEA;
  --controls-border-color: #000;

  --default-border-radius: 20px;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
